<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cordova.lidar" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-lidar</name>
    <js-module name="cordova-lidar" src="www/cordova-lidar.js">
        <clobbers target="cordova-lidar" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cordova-lidar"><param name="ios-package" value="cordova-lidar" /></feature>
        </config-file>

        <header-file src="src/ios/cordova-lidar.h" />
        <source-file src="src/ios/cordova-lidar.swift" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>This app requires access to the camera to take pictures and videos.</string>
        </config-file>
    </platform>
</plugin>