<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cordova.lidar" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-lidar</name>
  <js-module name="cordova-lidar" src="www/cordova-lidar.js">
    <clobbers target="cordova-lidar" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="cordova-lidar">
        <param name="ios-package" value="cordova-lidar" />
      </feature>
    </config-file>
    <header-file src="src/ios/cordova-lidar.h" />
    <source-file src="src/ios/cordova-lidar.swift" />
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
      <string>This app requires access to the camera to take pictures and videos.</string>
    </config-file>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="cordova-lidar">
        <param name="android-package" value="cordova-lidar" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/cordova-lidar.java" target-dir="src/com/cordova/lidar/corda-lidar" />
  </platform>
</plugin>
